html, body{
    background-color: #180d11;
    margin:0;
}
#startGame{
    position:absolute;
    top:69%;
    right:1%;
    font-family:'Dancing Script', cursive;
    color: #d2bb76;
    font-size: 20px;
    font-weight: bolder;
    z-index: 749;
    padding:7px;
    border-radius: 50px;
    background-color: none;
    border:2px solid #d2bb76;
    z-index: 750;
}
#startGame:hover{
    cursor: pointer;
}

#gameover{
    position: absolute;
    height:500px;
    margin:0;
    /* top:0px; */
    z-index: 900;
    width: 1200px;
    background-color: black;
}
.disappear{
    display:none;
}
.appear{
    display:block;
}
#score{
    position:absolute;
    display:block;
    top:0px;
    right:20px;
    z-index:700;
    font-family:'Dancing Script', cursive;
    font-size:3em;
    font-weight: 900;
    color: #FFFFFF;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

#text{
    background-image: url("images/starrynight.gif");
    position: absolute;
    height: 570px;
    width: 1276px;
    z-index: 748;
}

.entry{
    animation-name: slideIn;
    animation-duration:  1.5s;
    animation-timing-function:  ease-in;
}
@keyframes slideIn {
    from {
    transform: translateX(50%);
    opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.exit{
    animation-name: slideOut;
    animation-duration:  1.5s;
    animation-timing-function:  ease-out;
    /* animation-fill-moderetain the style values from the last keyframe when the animation ends */
    animation-fill-mode: forwards;
}
@keyframes slideOut {
    from {
    transform: translateX(0);
    opacity: 1;
    }
    to {
        transform: translateX(-50%);
        opacity: 0;
        /* display:none; */
    }
}

#mainTitle{
    position: absolute;
    top:25%;
    left:15%;
    font-family: 'Elsie Swash Caps', cursive;
    color: #d2bb76;
    font-size: 5em;
    z-index:749;
    font-weight: bolder;
    text-shadow: 0px 0px 10px #d2bb76;
}

#next{
    position:absolute;
    top:65%;
    right:3%;
    font-family:'Dancing Script', cursive;
    color: #d2bb76;
    font-size: 20px;
    font-weight: bolder;
    z-index: 749;
    padding:10px;
    border-radius: 50px;
    background-color: none;
    border:2px solid #d2bb76;
}
#next:hover{
    cursor: pointer;
}

#rules{
    position:absolute;
    top:32%;
    left:0;
    font-family:'Elsie Swash Caps', cursive;
    color: #d2bb76;
    font-size: 17px;
    font-weight: bolder;
    z-index: 749;
    text-align: center;
    padding:20px;
    text-shadow: 0px 0px 10px black;
}

#replay{
    font-family: 'Dancing Script', cursive;
    font-size: 3em;
    position:absolute;
    background-color: none;
    color: #b4944b;
    top:50%;
    left:45%;
    z-index: 901;
    padding:15px;
    border-radius: 50px;
    background-color: none;
    border:3px solid #b4944b;
}
#replay:hover{
    cursor: pointer;
}

#gameoverText{
    font-family: 'Dancing Script', cursive;
    font-size: 10em;
    font-weight: bolder;
    position:absolute;
    background-color: none;
    color: #b4944b;
    top:19%;
    left:25%;
    z-index: 901;
    align-content: center;
    text-shadow: 0px 0px 10px #d2bb76;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.entryZ{
    animation-name: fadeIn;
    animation-duration:  1.5s;
    animation-timing-function:  ease-in;
}
@keyframes fadeIn {
    from {
    transform: translateZ(100%);
    opacity: 0;
    }
    to {
        transform: translateZ(0);
        opacity: 1;
    }
}

#mainSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#app{
    position: relative;
    display: block;
    overflow: hidden;
}